html, body {
    /* font-family: "Arial", "Noto-sans"; */
    font-family: 'OT Brut', "Noto Serif TC", serif;
    margin: 0; padding: 0;
    background-color: #bbbfc0;
    height: 100%;
    /* background-color: #7abbb8; */
}
.header {
    position: fixed;
    z-index: 1;
    font-family: "ot_brutregular";
    box-sizing: border-box;
    padding: 24px 40px;
    color: #FFFFFF;
    font-size: 42px;
    width: 50%;
}
.header-row {
    display: flex;
    justify-content: space-between;
}
.header-row-black {
    margin-top: -30px;
    color: #414141;
}
.header-right {
    font-family: "ot_brutitalic";
    align-self: right;
}
.tc-font {
    font-family: 'OT Brut', "Noto Serif TC", serif;
    letter-spacing: 8px;
    position: relative;
    top: -4px;
    /* font-family: "hanwangmingmediumpoin3regular"; */
}
.nav-menu {
    position: fixed;
    right: 0;
    width: 80px;
    padding: 30px 40px;
    box-sizing: border-box;
    /* border: 1px solid #FFFFFF; */
    box-shadow: -10px 0px 20px 0px rgba(255, 255,255,0.5);
    height: 100%;
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    padding-left: 24px;
    padding-top: 6px;
    z-index: 2;
    background-color: #bbbfc0;
}
#threejs-canvas {
    position: fixed;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 0;
}
.wrapper-fold-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    box-sizing: border-box;
    height: 100%;
}

.fold-2-left {
    position: relative;
}


.fold-2-left::after {
    content:"";
    position: fixed;
    top:0px;
    left: 50%;
    height: 100%;
    width: 15px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    margin-left: -15px;
}


.fold-2 {
    margin: 0;
    padding: 0;
    width: 50%;
    box-sizing: border-box;
    /* border: 1px solid #FF0000; */
    background-color: #bbbfc0;
    position: relative;
}
.fold-2-right {
    width: calc(50% - 55px);
    z-index: 1;
}
.inside-menu {
    position: fixed;
    right: 55px;
    width: calc(50% - 55px);
    z-index: 1;
}

.inside-menu-item-wrapper{
  display: flex;
  flex-wrap: nowrap;
  padding: 20px;
  justify-content: center;
}

.inside-menu-item {
    font-size: 12px;
    font-family: 'ot_brutitalic';
    /* padding: 6px 24px; */
    padding: 6px;
    margin: 10px;
    width: 100px;
    height: 14px;
    line-height: 14px;
    border-radius: 28px;
    text-align: center;
    /* background-color: #FFFFFF; */
    box-shadow: 0px 0px 10px 1px #FFFFFF;
    background-color: #bbbfc0;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 200ms ease-out, box-shadow 200ms ease-out;
}
.inside-menu-item.selected,
.inside-menu-item:hover {
    box-shadow: 0px 0px 10px 1px #CCFF00;
    background-color: #FFFFFF;
    text-decoration: none;
}
.content-heading {
    /* font-size: 24px; */
    font-size: 1.5em;
    margin-bottom: 30px;
}
.content-heading:not(:first-of-type) {
    margin-top: 90px;
}
.article-heading-en {
    margin-top: 50px;
    border-top: 1px solid #FFF;
}
.content {
    color: #FFFFFF;
    margin: 30px 120px;
    line-height: 28px;
    font-size: 16px;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: 'OT Brut', "Noto Serif TC", serif;
}

.content {
    display:none;
    margin-top: 200px;
    transition: opacity 1s ease-out, margin-top 1s ease-in-out;
}
.content.for-article.active,
.content.for-shop.active {
    display: block !important;
    margin-top: 0px;
    /* overflow: hidden; */
}

.fancybox-slide .content.for-article.active,
.fancybox-slide .content.for-shop.active {
    display: inline-block !important;
}

.content-end-block {
    margin-bottom: 90px;
}

.content-shop-info {
    margin-top: 0.5em;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5em;
}

.content-shop-info table{
    width:100%;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
    margin-top: 30px;
}

.td-title {
    padding-right: 0.5em;
}

.content-article p:not(:last-of-type) {
    margin-bottom: 1.5em;
}
.content-article-tc {
    letter-spacing: 0.05em;
}
.article-ppl-name {
    font-size: 1em;
}
.article-ppl-name .text-tc {
    font-size: 0.95em;
}
.article-ppl-title {
    font-size: 1.2em;
}
.article-ppl-title .text-tc {
    font-size: 0.8em;
}
.article-ppl-desc {
    font-size: 0.9em;
}
.contact-ig {
    display: inline-block;
}
.contact-ig::before {
    display: inline-block;
    content: "";
    width: 1.25em;
    height: 1.25em;
    background-color: #FFFFFF;
    mask-image: url(../assets/contact-ig.svg);
    mask-repeat: no-repeat;
    top: 0.3em;
    position: relative;
    margin-right: 0.3em;
}
.objects-drawer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    text-align: center;
    overflow: hidden;
    margin-bottom: -359px;
    transition: margin-bottom 250ms ease-out;
    pointer-events: none;
}
.objects-drawer.active {
    margin-bottom: 0px;
    pointer-events: all;
}
.objects-drawer-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(rgba(212, 212, 212, 0.8), rgba(187, 191, 192,0.8) 67%);
    opacity: 0;
    transition: all 200ms ease-out;
}
.objects-drawer.active .objects-drawer-backdrop  {
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
}
.objects-drawer.active .objects-drawer-backdrop:hover  {
    opacity: 0.7;
}
.objects-drawer-slip{
    pointer-events: all;
    width: 180px;
    margin: 30px auto 0;
    background: #FFF;
    height: 40px;
    line-height: 40px;
    padding: 5px 10px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 20px #ffffff;
    font-style: italic;
    cursor: pointer;
}
.objects-drawer-slip:hover {
    color: #A9E300;
}
.objects-drawer-content {
    width: 100%;
    background: #FFF;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    box-sizing: border-box;
}
.objects-drawer-item-wrapper {
    user-select: none;
}
.objects-drawer-item {
    display: inline-block;
    width: 200px;
    margin: 10px;  
    vertical-align: top;
    text-wrap: balance;
}
.objects-drawer-item:hover .thumb {
    transform: scale(0.95);
}
.objects-drawer-item .thumb {
    width: 170px;
    height: 150px;
    background-position: center center;
    background-size: contain;
    border-radius: 10px;
    background-repeat: no-repeat;
    margin: auto;
    transition: transform 250ms ease-out;
}

.objects-drawer-item .text {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    line-height: 1.5em;
    white-space: normal;
    transition: all 250ms ease-out;
}

.objects-drawer-item:hover .text {
    transform: scale(1.2);
}

.svg-color{
    fill: #FFFFFF;
}
.content-block::before {
    content: "";
    display: block;
    width: 5em;
    /* border-top: 1px dashed #FFF; */
    border-top: 1px solid #FFF;
    margin: 2em 0 1em;
}
.article-extra {
    margin-top: 2em;
    /* color: #666; */
    /* border: 1px solid #FFFFFF; */
    /* padding: 1em; */
    /* background-color: rgba(0,0,0,0.1) */
}

.text-en {
    letter-spacing: 0em;
}
.text-tc {
    letter-spacing: 0.05em;
}
a, a:visited {
    color: initial;
}
/* a:hover {
    text-decoration: underline;
    color: #000000; */
    /* border-bottom: 1px solid #FFFFFF; */
/* } */
a:hover > .contact-ig::before {
    background-color: #000000;
}
.debug {
    display: none;
    margin: 20px;
    position: absolute;
    top: 0;
    right: 0;
    color: #FFFFFF;
}
.hidden {
    display: none;
}

.mobile_inside-menu_wrapper{
    position: fixed;
    left: 0px;
    bottom: 40px;
    width: 100%;
}

.fancybox-slide .content{
    color:#000;
}

.fancybox-slide--iframe .fancybox-content, .fancybox-content {
    border-radius: 20px;
    background-color: #bbbfc0;
    box-shadow: 0px 0px 20px #fff;
    overflow: hidden;
}

.fancybox-slide--iframe .fancybox-content{
    height : 600px;
    width : 800px;
}

.object_popup{
    position: fixed;
    z-index: 9999;
    top: 0%;
    left:0%;
}

/* .object_popup{
    position: fixed;
    top:0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
}

.object_popup .object_popup_content{
    position: absolute;
    top:100px;
    right: 100px;
    bottom: 100px;
    left: 100px;
    margin: auto;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #fff;
}

.object_popup_close{
    position: absolute;
    right:20px;
    top:20px;
    width:30px;
    height:30px;
}

.object_popup_close::before{
    content:"";
    top:0px;
    bottom:0px;
    margin: auto;
    width:100%;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
}

.object_popup_close::after{
    content:"";
    top:0px;
    bottom:0px;
    margin: auto;
    width:100%;
    height: 2px;
    background-color: #fff;
    transform: rotate(-45deg);
    position: absolute;
} */

@media (max-width: 1440px) {

    .content {
        margin: 30px 60px;
    }

}

@media (max-width: 1023px) {
    .wrapper-fold-2 {
        /* display:block; */
    }
    .fold-2-left::after {
        display: none;
    }
    .fold-2 {
        width: calc(100%);
        height: 100%;
    }
    .fold-2-right {
        height: initial;
        min-height: 30%;
    }
    #threejs-canvas {
        position: fixed;
        height: 100%;
        width: calc(100%);
    }
    .inside-menu {
        position: sticky;
        width: 100%;
        right: inherit;
        top: 0;

        /* position: fixed;
        width: calc(100% - 55px);
        right: inherit;
        bottom: 0; */
    }
    .inside-menu-item-wrapper {
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .objects-drawer-item {
        width: 125px;
    }
    .objects-drawer-item .thumb {
        width: 85px;
        height: 75px;
    }
    .fancybox-slide .content {
        padding: 20px;
        margin: 20px;  
        border-radius: 20px;
        background-color: #bbbfc0;
        box-shadow: 0px 0px 20px #fff;
    }

    .fancybox-slide--iframe .fancybox-content{
        height : 100%;
        width : 100%;
    }

    .body_shopdetail .top_right_logo2,
    .body_shopdetail .top_right_logo1 {
        /* right: 55px !important; */
        right: 24px;
    }

    .objects-drawer-item {
        width: 140px;
    }

    .objects-drawer-item .thumb{
        width: 120px;
        height: 100px;
    }
}

@media (max-width: 480px) {
    
   
}

@font-face {
    font-family: 'ot_brutitalic';
    src: url('../assets/fonts/otbrut-italic-webfont.woff2') format('woff2'),
        url('.//assets/fonts/otbrut-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ot_brutregular';
    src: url('../assets/fonts/otbrut-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/otbrut-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* @font-face {
    font-family: 'hanwangmingmediumpoin3regular';
    src: url('assets/fonts/wp310-05.woff2') format('woff2'),
        url('assets/fonts/wp310-05.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} */

@font-face {
    font-family: 'hanwangmingmediumpoin3regular';
    src: url('../assets/fonts/wp310-05-webfont.woff2') format('woff2'),
        url('../assets/fonts/wp310-05-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}