.body_shopdetail_color_1 .right_menu {
    background-color: #bbbfc0;
}

.body_shopdetail_color_1 .inside-menu-item {
    background-color: #bbbfc0;
}

.body_shopdetail_color_1 .inside-menu-item.selected{
    background-color: #fff;
}

.body_shopdetail_color_1.body {
    background-color: #bbbfc0;
}


.body_shopdetail_color_1 .nav-menu {
    background-color: #bbbfc0;
}

.body_shopdetail_color_1 .fold-2 {
    background-color: #bbbfc0;
}