.loading{
    position: fixed;
    width:100%;
    height:100%;
    left:0px;
    top:0px;
    margin:auto;
    display:flex;
    z-index:998;
    align-items:center;
    background-color:#A9E300;
}

.loading img{
    width:20px;
    height:20px;
    margin:auto;
}

.overlay_shop_name{
    position: fixed;  
    right: 91px;
    bottom: 36px;
    margin:auto;
    display:flex;
    z-index:9999;
    align-items:center;
    pointer-events:none;
    color:#fff;
	mix-blend-mode: difference;
    width: 50%;
}

.overlay_shop_name .shop_name{
    margin-left:auto;
    text-align:right;
}

.tc_body .overlay_shop_name .shop_name{
    letter-spacing: 0.1em;
}

.float_circle{
    position: fixed;
    width:0px;
    height:0px;
}

.view_btn_wrapper{
    position: fixed;
    top:36px;
    bottom: 36px;
    right: 0px;
    margin: auto;
    display: flex;
    width:55px;
    justify-content: center;
    align-items: center;
    z-index:1000;
    pointer-events: none;
}

.view_btn_inwrapper{
    width: 55px; 
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    z-index:1000;
    pointer-events: auto;
}

.view_btn{
    /* background-color: #fff; */
    border-radius: 999px;
    width: 36px;
    height: 36px;
    opacity: 0.5;
    cursor: pointer;
    position:relative;
    color:#000;
	-webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.view_btn .view_hover_text{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position:absolute;
    height:26px;
    padding:5px 10px;
    border-radius:10px;
    background-color: #fff;
    right:100%;
    top:0%;
    margin-right:30px;
    white-space:nowrap;
    line-height:26px;
    pointer-events:none;
	transform:translateX(50px);
    opacity:0;

	box-shadow: 0px 0px 20px #ffffff;
}

.view_btn:hover .view_hover_text{
	transform:translateX(0px);
    opacity:1;
}

.view_btn.active, .view_btn:hover{
    opacity: 1;
}

.view_btn .icon{
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height:100%;
    position:absolute;

    
}

.view_btn1 .icon{
    background-image: url(../c_images/icon_1.png);
}

.view_btn2 .icon{
    background-image: url(../c_images/icon_2.png);
}

.view_btn3 .icon{
    background-image: url(../c_images/icon_3.png);
}


.body_archive{
    overflow: hidden;
}

.box_section{
}


.box_section_item_wrapper{
}

.box_section_item{
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.box_section_item{
    display: block;
}

.box_section_list{
	-webkit-transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 1.2s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    transform: translateY(120%);
    width: 100%;
    height: 100%;
    background-color: #A9E300;
    pointer-events: none;
	box-shadow: 0px 0px 20px #ffffff;
    overflow: auto;
    opacity:0;
}

.box_section_list.active{
    transform: translateY(0%);
    pointer-events: auto;
    opacity:1;
}

.box_item_list_wrapper{
    padding: 150px 91px 150px 36px;
}

.box_item_list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.box_item{  
    cursor: pointer;
}

.box_item .thumb{
	-webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    background-color: #bcbec0;
    padding-bottom: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 10px;
	box-shadow: 0px 0px 20px #00ff00;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.p_box_item{
    grid-column: span 2;
}

.p_box_item .thumb{
    background-color: transparent;
    padding-bottom: 50%;
    background-size: contain;
    background-position: center bottom;
    border-radius: 0px;
	box-shadow: none;
}

.box_item:hover .thumb{

	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(0.9) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(0.9) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(0.9) rotate(0deg);

}

.box_item .text{
    margin-top: 10px;
    text-align: center;
    color:#0000ff;
}

.box_item i{
    font-style: italic;
}

.box_section_object{
    height: 100%;
}

.box_object_wrapper{
    height: 100%;
    display: inline-flex;
    padding-left: 36px;
    padding-right: 91px;
}

.box_object_inwrapper{
    height: 100%;
    display: flex;
    align-items: end;
    position: relative;
}

.box_object_group{
    height: 100%;
    display: flex;
    align-items: end;
    position: relative;
    gap: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 120px;
}

.box_object_group + .box_object_group::before{
    content:"";
    position: absolute;
    left: 0px;
    top:0px;
    bottom: 0px;
    border-left:1px solid #fff;
    z-index: 1;
}

.box_year{
    position: absolute;
    right:100%;
    bottom:10px;
    color:#fff;
    transform-origin: 100% 100%;
    transform: rotate(90deg);
    font-weight:900;
}

.box_year div{
    color:#fff;
}

.box_object{
    height: 100%;
    display: flex;
    align-items: end;
    position: relative;
}

.box_object .box_object_thumb{
    width: 100%;
    position: relative;

}

.box_popup_thumb::before{
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

.box_popup_thumb + .box_popup_thumb::before{
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.1s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}


.box_object .box_popup_thumb_top::before{
    content:"";
    width: 1px;
    height: 0px;
    position: absolute;
    bottom:100%;
    left:0%;
    right: 0%;
    margin: auto;
    background-color: #fff;
    display: block;
    opacity: 0;
	-ms-transform: translateY(-150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(-150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(-150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_object_thumb:hover .box_popup_thumb_top::before{
    opacity: 1;
    height: 50px;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_popup_thumb_bottom::before{
    content:"";
    width: 1px;
    height: 0px;
    position: absolute;
    top:100%;
    left:0%;
    right: 0%;
    margin: auto;
    background-color: #fff;
    display: block;
    opacity: 0;
	-ms-transform: translateY(150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_object_thumb:hover .box_popup_thumb_bottom::before{
    opacity: 1;
    height: 50px;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_popup_thumb_right::before{
    content:"";
    width: 0px;
    height: 1px;
    position: absolute;
    left:100%;
    top:0%;
    bottom:0%;
    margin: auto;
    background-color: #fff;
    display: block;
    opacity: 0;
	-ms-transform: translateY(0px) translateX(150px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(150px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(150px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_object_thumb:hover .box_popup_thumb_right::before{
    width: 50px;
    opacity: 1;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_popup_thumb_left::before{
    content:"";
    width: 0px;
    height: 1px;
    position: absolute;
    right:100%;
    top:0%;
    bottom:0%;
    margin: auto;
    background-color: #fff;
    display: block;
    opacity: 0;
	-ms-transform: translateY(0px) translateX(-150px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(-150px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(-150px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_object_thumb:hover .box_popup_thumb_left::before{
    width: 50px;
    opacity: 1;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_popup_thumb{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 9;
	/* -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; */
    display: block;
}

.box_object .box_popup_thumb .thumb{
    position: relative;
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    background-color: #fff;
	box-shadow: 0px 0px 20px #00ff00;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    opacity: 0;
    background-position: center center;
    background-size: cover;
}

.box_object .box_popup_thumb + .box_popup_thumb .thumb{
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.1s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.1s;
}


.box_object .box_popup_thumb_top .thumb{
	-ms-transform: translateY(-150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(-150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(-150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_popup_thumb_bottom .thumb{
	-ms-transform: translateY(150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(150px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_popup_thumb_left .thumb{
	-ms-transform: translateY(0px) translateX(-150px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(-150px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(-150px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_popup_thumb_right .thumb{
	-ms-transform: translateY(0px) translateX(150px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(150px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(150px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_object_thumb:hover .box_popup_thumb .thumb{
    opacity: 1;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}
/* .box_object .box_object_thumb:hover .box_popup_thumb{
    opacity: 1;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_popup_thumb:hover{
	-webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1.1) rotate(0deg) !important; 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1.1) rotate(0deg) !important; 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1.1) rotate(0deg) !important;
} */
/* 
.box_object .box_popup_thumb::before{
    content:"";
    position: absolute;
    top:100%;
    height: 100px;
    width: 1px;
    left: 0px;
    right: 0px;
    margin: auto;
    background-color: #fff;
} */

.box_popup_name{
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: absolute;
    left: 0px;
    right:0px;
    bottom:0px;
    z-index: 9;
	-ms-transform: translateY(100px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(100px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(100px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
    opacity: 0;
    display:flex;
    color:#000;
}

.box_popup_name .text{
    background-color:#A9E300;
    padding:5px 20px;
    border-radius:10px;
	box-shadow: 0px 0px 20px #fff;
    margin:auto;
    text-align:center;
}

.box_object .box_object_thumb:hover .box_popup_name{
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
    opacity: 1;
}

.box_popup_name .num{
    float: left;
    margin-right: 4px;
}

.box_popup_name .num i{
    font-style: italic;
}

.box_popup_name .text{
    overflow: hidden;
}

.box_object img{ 
	-webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    display: block;
    position: relative;
    height: 100%;
	-ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
    transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
}

.box_object .box_object_thumb:hover img{
	-ms-transform: translateY(-50px) translateX(0px) translateZ(0px) scale(1) rotate(-10deg); 
    -webkit-transform: translateY(-50px) translateX(0px) translateZ(0px) scale(1) rotate(-10deg); 
    transform: translateY(-50px) translateX(0px) translateZ(0px) scale(1) rotate(-10deg);
}

/* .all_item_btn_wrapper{
    position: fixed;
    height: 35px;
    width: 160px;
} */

.all_item_btn{
	-webkit-transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    width: 180px;
    line-height: 40px;
	background-color:#ffffff;
    color:#000;
    text-align: center;
	z-index:999;
	box-shadow: 0px 0px 20px #ffffff;
    padding: 5px 10px 0px;
    margin: auto;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-style:italic
}

.all_item_btn:hover{
	background-color:#fff;
    color:#A9E300;
}

.center_item{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.left_right_section{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 36px;
    padding-right: 91px;
}

.left_right_section .title{
    color:#000;
}

.left_right_section .title i{
    font-style: italic;
}

.left_right_item + .left_right_item{
    margin-top: 80px;
}


.left_item{
    float: left;
}

.right_item{
    float: right;
}

.left_item{
    box-sizing: border-box;
    padding: 50px;
    border-radius: 20px;
	box-shadow: 0px 0px 20px  #ffffff;
    width: 60%;
    clear: both;
    background-color: #A9E300;
}

.right_item{
    box-sizing: border-box;
    padding: 50px;
    border-radius: 20px;
	box-shadow: 0px 0px 20px  #ffffff;
    width: 60%;
    clear: both;
    background-color: #A9E300;
}

.right_item > *{
    /* color: #fff;
    mix-blend-mode: difference; */
}

.tab_section{
    padding-top: 0px;
    padding-bottom: 100px;
    padding-right: 55px;
}

.tab_item{
    padding-left: 36px;
    padding-right: 36px;
}

.tab_left_item{
    border-radius: 20px;
    float: left;
    width: 25%;
    min-width: 300px;
    box-sizing: border-box;
    margin-right: 30px;
}

.tab_left_item .num{
    margin-bottom: 5px;
}

.tab_left_item .num i{
    font-style: italic;
}

.tab_left_item .title{
    overflow: hidden;
    color:#fff;
}

.tab_right_item{
    padding: 50px;
    border-radius: 20px;
	box-shadow: 0px 0px 20px  #ffffff;
    box-sizing: border-box;
    overflow: hidden;
}

.tab_right_item .free_text{
    max-width: 600px;
    overflow: hidden;
}

.tab_right_item .side_images{
    width: 30%;
    float: right;
    margin-left: 20px;
}

.tab_right_item .side_images img{
    width: 100%;
    display: block;
      box-shadow: 0px 0px 20px #ffffff;
        border-radius: 15px;
}

.tab_right_item .side_images img+img{
    margin-top: 20px;
}

.tab_item + .tab_item{
    margin-top: 100px;
}

.tab_top{
    position: sticky;
    top:0px;
    background-color: #A9E300;
    z-index: 1;
    margin-bottom: 80px;
}

.tab_top .center_item{
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    padding-top: 100px;
}

.tab_top i{
    font-style: italic;
}

.nottop .tab_top .center_item{
    padding-top: 60px;
}


.tab_top::after{
    content:"";
    position: absolute;
    top:100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    height: 30px;
}

.sub_section_menu_wrapper{
    overflow: hidden;
}

.sub_section_menu{
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    margin-top: 40px;
    margin-left: -36px;
    margin-right: -36px;
    padding-left: 72px;
    padding-right: 72px;
}

.nottop .sub_section_menu{
    margin-top: 20px;
}

.sub_section_menu ul{
    display: flex;
    gap:20px;
}

.sub_section_menu li{
    display: block;
    box-shadow: 0px 0px 20px 5px #ffffff;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sub_section_menu a{
    color:#000;
    padding: 5px 10px;
    display: block;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.sub_section_menu a:hover, .sub_section_menu a.active{
    background-color: #fff;
}

.free_text strong{
    font-weight: 900;
}

.free_text em{
    font-style: italic;
}

.free_text p {
    margin-top: 30px;
}

.free_text p:first-child {
    margin-top: auto;
}

.free_text h1,
.free_text h2,
.free_text h3,
.free_text h4,
.free_text h5,
.free_text h6 {
    margin-top: 30px;
}

.free_text h1+p,
.free_text h2+p,
.free_text h3+p,
.free_text h4+p,
.free_text h5+p,
.free_text h6+p {
    margin-top: 0px;
}

.free_text h1:first-child,
.free_text h2:first-child,
.free_text h3:first-child,
.free_text h4:first-child,
.free_text h5:first-child,
.free_text h6:first-child {
    margin-top: auto;
}

.free_text hr {
    background:none;
	border:none;
	border-top:1px solid #fff;
	margin-top:30px;
	margin-bottom:30px;
}

.free_text table{

}

.free_text table tr + tr td{
    padding-top: 20px;
}

.free_text table td + td {
    padding-left: 20px;
}


.clear{
    clear: both;
}
.popup_loading{
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    z-index: 10000;
    background-color: rgba(255,255,255,1);
    opacity: 1;
    pointer-events: none;
}

.loadstart .popup_loading{
    opacity: 0;
}

.popup_item{
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    display: flex;
    z-index: 10000;
    pointer-events: none;
    background-color: rgba(255,255,255,1);
    opacity: 0;
}

.popup_item.sharp{
    -webkit-transition: all 0s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0s cubic-bezier(0.77, 0, 0.175, 1) 0s;
}

/* .body_shopdetail .popup_item{
    background-color: rgba(255,255,255,0.2);
}

.finishload.body_shopdetail .popup_item{
    background-color: rgba(255,255,255,1);
} */

.popup_item.show{
    opacity:1;
}

.popup_item img{
    transform: translateY(100%) rotate(50deg);
    -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s; 
    transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;
    position: absolute;
    width: 50%;
    height: 50%;
    max-width: 400px;
    max-height: 300px;
    left: 0px;
    top:0px;
    right:0px;
    bottom:0px;
    margin: auto;
    object-fit: contain;
    opacity: 0;
}

.popup_item.show img{
    transform: translateY(0%) rotate(0deg);
    opacity:1;
}

.popup_item.fadeout img{
    transform: translateY(-100%) rotate(-50deg);
    opacity: 0;

}


i{
    font-style: italic;
}

.exhibition_section {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 36px;
    padding-right: 91px;
  }

.exhibition_item_wrapper{
    margin: auto;
    margin-top: 80px;
    max-width: 1400px;
}

.exhibition_item{
    box-sizing: border-box;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #ffffff;
    clear: both;
    background-color: #A9E300;
    display: flex;
}

.small_exhibition_item{
    margin: auto;
    max-width: 600px;
}

.exhibition_item .flex{
    display: flex;
    gap: 50px;
    width: 100%;
}

.exhibition_item + .exhibition_item{
    margin-top: 80px;
}

.exhibition_item .map_col{    
    width: 45%;
    min-width: 300px;
}
.exhibition_item .map_box_wrapper{
    position: relative;
    padding-bottom: 75%;
}

.exhibition_item .map_box{
    position: absolute;
    left: 0px;
    top:0px;
    width: 100%;
    height: 100%;
}


.exhibition_item .text_col{  
    flex-grow: 1;
}
.exhibition_item i{
    color: #fff;
}

.exhibition_item h3, .exhibition_item h4{
}

.white_btn{
    padding: 10px;
    background-color: #fff;
    color:#000;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #ffffff;
    margin-top: 20px;
    display: block;
    text-align: center;
}

.tc_body .white_btn{
    letter-spacing: 0.3em;
}

@media screen and (max-width: 1023px) { 

    .body_archive{
        overflow:auto;
    }

    .box_section_item.active {
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        height: auto;
        margin: auto;
        overflow: hidden;
    }

    .box_object_wrapper{
        height: auto;
        display: block;
        padding-left: 20px;
        padding-right: 20px;
        padding-top:100px;
        padding-bottom:100px;
    }

    .box_object_inwrapper {
        height: auto;
        display: block;
    }

    .box_object_group {
        height: auto;
        display: block;
        padding-bottom: 0px;
    }

    .box_object_group + .box_object_group::before {
        left: 0px;
        right:0px;
        top: 0px;
        bottom: auto;
        border-left: none;
        border-top: 1px solid #fff;
    }

    .box_object {
        height: auto;
        display: block;
        padding-top: 20px;
    }

    .box_object .box_object_thumb {
        width: 100%;
        position: relative;
    }

    .box_object img{
        margin:auto;
        height: auto;
        max-height: 320px;
        max-width: 100%;
    }

    .box_year {
        right: 100%;
        bottom: auto;
        top: 30px;
    }

    .box_item_list_wrapper {
        padding: 100px 20px 100px 20px;
    }

    .box_item_list {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }


    .view_btn_wrapper {
        bottom: 20px;
        gap: 15px;
    }

    .tab_top {
          margin-bottom: 40px;
    }

    .tab_top .center_item{
        padding-top: 70px;
    }

    .nottop .tab_top .center_item{
        padding-top: 70px;
    }

    .tab_section {
        padding-top: 0px;
        padding-bottom: 50px;
        padding-right: 0px;
    }
    .sub_section_menu {
        margin-top: 20px;
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .tab_item {
        padding-left: 20px;
        padding-right: 20px;
    }

    .tab_left_item {
        float: none;
        width: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .tab_right_item {
        padding: 20px;
    }

    .tab_right_item .side_images {
        width: auto;
        float: none;
        margin-left: auto;
        margin-bottom: 20px;
    }

    .left_right_section {
        padding-top: 70px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .left_right_item + .left_right_item {
        margin-top: 40px;
    }

    .left_item, .right_item {
        padding: 20px;
        width: 85%;
    }

    .box_popup_name{
        position: relative;
        top:auto;
        left: auto;
        right: auto;
        margin-top: 20px;
        opacity: 1;
        -ms-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
        -webkit-transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg); 
        transform: translateY(0px) translateX(0px) translateZ(0px) scale(1) rotate(0deg);
    }

    .box_popup_name .text{
        margin-bottom: 20px;
    }

    .view_btn_wrapper{
        display: none;
    }

    .exhibition_section {
        padding-top: 70px;
        padding-bottom: 50px;
        padding-left: 20px;
        padding-right: 20px;
      }

      .exhibition_item_wrapper {
        margin-top: 40px;
      }

      .exhibition_item{
        padding: 20px;
      }

      .exhibition_item + .exhibition_item{
        margin-top: 40px;
      }

      .exhibition_item .flex{
        display: block;
      }

      .exhibition_item .map_col {
        width: 100%;
      }

      .exhibition_item .text_col {
        margin-top: 20px;
      }

}